* {
    margin: 0;
    padding: 0;
}

html,
body {
    overflow: hidden;
    background: #892623;
}

.webgl {
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

.button {
    position: fixed;
    padding: 1vmin 2vmin;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 3vmin;
    font-family: Helvetica, Arial, sans-serif;
    bottom: 4vmin;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
    border-radius: 0.5vmin;
}

.version1 {
    background-color: black;
    border: 1px solid #ffefd5;
    color: #ffefd5;
}

.version2 {
    background-color: black;
    border: 1px solid #ffe5ff;
    color: #ffe5ff;
}

.lil-gui {
    --font-family: Helvetica, Arial, sans-serif;
    --widget-border-radius: 5px;
    
    /* Colori principali */
    --title-background-color: #ffffff17; /* Sfondo del titolo */
    --background-color: #ffffff00; /* Sfondo dei pannelli */
    --widget-color: #711c1a;       /* Sfondo dei widget (slider, input) */
    --focus-color: #ca3735;      /* Colore quando un elemento è selezionato */
    --hover-color: #ca3735;        /* Colore al passaggio del mouse */
    
    /* Colori del testo */
    --text-color: #eee;
    
    /* Dimensioni */
    --width: 250px;
}